@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 0;
  padding: 0 5%;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  
}

.navpage{
  /* width:95vw; */
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}
.index ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.index li{
  list-style: none;
font-weight: 600;
font-size: 1.1rem;
}
.logo span{
  color: rgb(203, 203, 1);
}

